{%extends "base_layout.html.twig"%}
{% block content %}
	<div class="entry"><p>Предприятие «Горремстрой-2» входит в группу предприятий НП ГП «Горремстрой», история которого превышает 45 лет. В 2013 году общий объем работ  выполненных организациями НП ГП «ГРС» составил более 300 млн. руб. Общая численность сотрудников организаций составляет более 350 человек.</p>
	<p style="margin: 0cm; margin-bottom: .0001pt; line-height: 12.5pt;"><span style="font-size: 9.5pt; font-family: 'Arial','sans-serif'; color: #0f0f0f;">Располагаем своей производственной базой, необходимым количеством строительной и автомобильной техники: <strong><span style="font-family: 'Arial','sans-serif';">автомобильные и башенные краны, экскаваторы, автовышки, компрессоры, автобетоносмесители, установка направленного прокола и прочие.</span></strong></span></p>
	<p>Приоритетное направление нашей компании - беспрерывная поставка бетона, цемента и строительных растворов для организаций г.Кирова и Кировской области. За многие годы успешной работы мы получили сотни благодарных отзывов от наших клиентов. Качество нашей продукции контролируется на всех уровнях производства, имеет все необходимые сертификаты качества и соответствует ГОСТ стандартам.

В бетон мы добавляем специальные примеси, для улучшения его свойств - он подходит для всесезонного строительства. Если Вам нужно строить в зимнее время - наша продукция станет идеальным решением. "Зимний бетон" разрешает с ним работать при температуре до -15 градусов по Цельсию.</p>
<p class="ConsPlusNormal"><strong>Имеем собственное производство:</strong></p>
	<ul>
	<li>товарного бетона;</li>
	<li>известкового раствора;</li>
	<li>цементного раствора;</li>
	</ul>
<p>Преимущество нашей компании заключается в том, что применяемая нами система обогрева инертных материалов позволяет производить бетон даже при температуре -20 градусов цельсия. Так же вы можете заказать раздичные виды цемента и бетона в любых количествах. Кроме того, у нас есть услуги доставки, тем самым мы гарантируем вам своевременное получение заказа в любую точку города и области.
Мы готовы строить с вами, обращайтесь!</p>	</div>
	<div id="sidebar5">
			<img src="/images/card.gif">
		</div>

	
{% endblock %}