<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Open-Air
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120818
-->
<html>
<head>
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Construction Company</title>
<link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li class="current_page_item"><a href="#">Homepage</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="/app.php/guestbook">Guestbook</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div id="header">
		<div id="logo" class="container">
			<h1><a href="#">Open-Air </a></h1>
			<p>In posuere eleifend odio quisque semper augue.</p>
		</div>
	</div>
	<div id="page" class="container">
        {% block content %}
        {% endblock %}
	</div>
	<!-- end #page -->
	<div id="four-column" class="container">
		<div id="tbox1">
			<div class="box-style">
				<div class="image"></div>
				<div class="arrow"></div>
				<div class="content">
					<h2>Fusce ultrices fringilla</h2>
					<p>Aliquam erat volutpat. Quisque dictum. Integer nisl risus, sagittis convallis elementum congue, nibh. </p>
				</div>
			</div>
		</div>
		<div id="tbox2">
			<div class="box-style">
				<div class="image"></div>
				<div class="arrow"></div>
				<div class="content">
					<h2>Mauris vulputate dolor</h2>
					<p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis,   congue, nibh. </p>
				</div>
			</div>
		</div>
		<div id="tbox3">
			<div class="box-style">
				<div class="image"></div>
				<div class="arrow"></div>
				<div class="content">
					<h2>Nulla luctus eleifend </h2>
					<p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis  elementum congue, nibh.</p>
				</div>
			</div>
		</div>
		<div id="tbox4">
			<div class="box-style">
				<div class="image"></div>
				<div class="arrow"></div>
				<div class="content">
					<h2>Nulla luctus eleifend </h2>
					<p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis  elementum congue, nibh.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer-content" class="container">
	<div id="footer-bg">
		<div id="column1">
			<h2>Untitled Inc.</h2>
			<p>Copyright (c) 2012 Sitename.com</p>
			<p>All rights reserved.</p>
			<p>Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by Fotogrph</a>.</p>
		</div>
		<div id="column2">
			<h2>Rhoncus volutpat</h2>
			<ul class="list-style3">
				<li class="first"><a href="#">Pellentesque consectetuer gravida blandit.</a></li>
				<li><a href="#">Lorem consectetuer adipiscing elit.</a></li>
				<li><a href="#">Phasellus pellentesque conguen lectus</a></li>
				<li><a href="#">Cras vitae pellentesque pharetra.</a></li>
				<li><a href="#">Maecenas vitae vitae feugiat eleifend.</a></li>
				<li><a href="#">Pellentesque consectetuer gravida blandit.</a></li>
			</ul>
		</div>
		<div id="column3">
			<h2>Recommended Links</h2>
			<ul class="list-style3">
				<li class="first"><a href="#">Pellentesque consectetuer gravida blandit.</a></li>
				<li><a href="#">Lorem consectetuer adipiscing elit.</a></li>
				<li><a href="#">Phasellus pellentesque conguen lectus</a></li>
				<li><a href="#">Cras vitae pellentesque pharetra.</a></li>
				<li><a href="#">Maecenas vitae vitae feugiat eleifend.</a></li>
				<li><a href="#">Pellentesque consectetuer gravida blandit.</a></li>
			</ul>
		</div>
		<div id="column4">
			<h2>Social</h2>
			<ul class="list-style3">
				<li class="first"><a href="#">Twitter</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Flickr</a></li>
				<li><a href="#">Google +</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">RSS</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- end #footer -->
</body>
</html>
