{% extends "base_layout.html.twig" %}
{% block content %}
			<div id="content">
				<h2><b>Виды продукции</b></h2>
			<ul class="list-style3">
				<br/><input class="hide" id="hd-1" type="checkbox" >
				<li><label for="hd-1">Известковый раствор М4</label></li>
				<div>Известковый раствор для штукатурки М4 применяется на различных объектах в частном и промышленного строительства, для наружных и внутренних работ. Основные компоненты известкового раствора – это смесь гашеной извести и песка, в которую также можно добавлять цемент в нужных пропорциях для повышения прочности раствора.</div>
				<input class="hide" id="hd-2" type="checkbox" >
				<li><label for="hd-2">Цементно-известковый раствор М25</label></li>
				<div>Для подземной каменной кладки и кладки цоколей ниже гидроизоляционного слоя используют цементно-известковый раствор М25, а также для кладки столбов, простенков, карнизов, перемычек, сводов и других частей зданий. Влажность должны быть менее 60%.</div>
				<input class="hide" id="hd-3" type="checkbox" >
				<li><label for="hd-3">Цементно-известковый раствор М50</label></li>
				<div>Применение данного раствора совпадает с применением цементно-извескового раствора предыдущей модели. За исключением уровня влажности, он может быть выше 60%. </div>
				<input class="hide" id="hd-4" type="checkbox" >
				<li><label for="hd-4">Цементный раствор М25</label></li>
				<div>Раствор М25 относится к смешанным (сложным) растворам для кладки. Цементный раствор М25 состоит из наполнителя для раствора, вяжущего и воды. Роль наполнителя для раствора М25 обычно играет обычный песок. При этом, чем песок чище, тем выше прочность раствора.</div>
				<input class="hide" id="hd-5" type="checkbox" >
				<li><label for="hd-5">Цементный раствор М50</label></li>
				<div>Кладочный раствор М50, в основе которого лежат цемент и известь, в виде вяжущего вещества, замечательно подходит для кладки кирпича или строительных камней. Благодаря использованию данной смеси легко можно выровнять любые неровности в каменной кладке, равномерно распределить нагрузку и давление на кладку между всемя связующими кирпичами или камнями. Еще одной дополнительной областью применения кладочного раствора М50 является заполнение швов, которые образуются на месте нестыковок элементов каменной или кирпичной кладки.</div>
				<input class="hide" id="hd-6" type="checkbox" >
				<li><label for="hd-6">Цементный раствор М75</label></li>
				<div>Строительный раствор М-75 обладает характеристиками высокого класса и применяется для строительства наземных конструкций и фундаментов гражданских и промышленных объектов. </div>
				<input class="hide" id="hd-7" type="checkbox" >
				<li><label for="hd-7">Цементный раствор М100</label></li>
				<div>Раствор М-100 относится к наиболее востребованным кладочным цементно-песчаным смесям, которые широко применяются в гражданском и промышленном строительстве. Раствор марки М100 используется для каменной кладки стен, перегородок, колон из кирпича, бетонных блоков, пенобетонных блоков, шлакоблоков. Незаменим раствор М-100 при выравнивании полов и устройстве всевозможных стяжек. Особую популярность получил М-100 при устройстве основания под мягкую кровлю, благодаря своим водонепроницаемым свойствам, что позволяет сэкономить на гидроизоляционных материалах.</div>
				<input class="hide" id="hd-9" type="checkbox" >
				<li><label for="hd-9">Цементный раствор М150</label></li>
				<div>Строительный раствор М-150 относится к категории кладочных растворов с высокими характеристиками по прочности и водонепроницаемости. Востребован при строительстве промышленных и гражданских объектов, где проектная прочность соответствует составу и свойствам М150. </div>
				<input class="hide" id="hd-10" type="checkbox" >
				<li><label for="hd-10">Цементный раствор М200</label></li>
				<div>Цемент М200 – это один из самых востребованных видов цемента на строительном рынке, благодаря высоким качественным характеристикам. Цементная смесь представляет собой порошок серого цвета. После приготовления раствора получается жидкая масса, прочность которой после высыхания составляет около 20 Мпа. Готовая смесь должна быть использована в течение двух часов, после чего она загущается. Важно перед началом работ хорошо очистить поверхность от любой грязи и заполнить смесью большие трещины.</div>
				<input class="hide" id="hd-11" type="checkbox" >
				<li><label for="hd-11">Бетон М100</label></li>
				<div>Бетон М100 можно отнести к классу легких бетонов. Данная строительная смесь, как правило, применяется на этапах подготовки: перед арматурными работами, а также до заливки монолитных плит или фундаментов различного типа. Бетон М 100 используется в сфере дорожного строительства, например, в качестве основы при установке бордюров.</div>
				<input class="hide" id="hd-12" type="checkbox" >
				<li><label for="hd-12">Бетон М150</label></li>
				<div>
				Бетон М150 относится к разновидности легких бетонов и применяется для подготовительных работ при установке фундаментов под небольшие постройки. Также М150 служит материалом для формирования стяжек и заливки полов. Бетон М150 часто используют в качестве бордюрной подушки. Кроме того, данная строительная смесь отлично подходит для устройства небольших пешеходных и дачных дорожек.</div>
				<input class="hide" id="hd-13" type="checkbox" >
				<li><label for="hd-13">Бетон М200</label></li>
				<div>

Бетон М200 В15 является одним из популярнейших строительных материалов, применяемых в промышленном и частном строительстве. По своей структуре, товарный бетон является искусственным камнем, который образуется в результате застывания вяжущей массы. Составляющие бетонной смеси – цемент, песок, щебень крупного помола и вода.</div>
				<input class="hide" id="hd-14" type="checkbox" >
				<li><label for="hd-14">Бетон М250</label></li>
				<div>

Бетон М250 по своим характеристикам схож с маркой М200,однако имеет более высокую прочность. Используется для создания малонагруженных плит перекрытий и изготовления фундаментов монолитного типа (ленточных, свайных, плитных). Бетон М 250 отлично подходит в качестве материала для заливки площадей и изготовления бетонных отмосток, различных дорожек, лестниц, оград, подпорных стен.</div>
			</ul>
			</div>
			<div id="sidebar3">
				<img src="/images/beton1.gif">
			</div>
			<br/><div id="sidebar2">
				<img src="/images/beton2card.gif">
			</div>
			<br/><div id="sidebar4">
				<img src="/images/beton3.gif">
			</div>
			<!-- end #sidebar -->

{% endblock %}