{% extends "base_layout.html.twig" %}
{% block content %}
	<h3>ООО Горремстрой-2</b></h3>
	<br/><h3><b>Телефоны</b></h3>
	<br/>
	<h4>Директор - Пупышев Андрей Евгеньевич (8332)46-57-23 </h4>
	<br/>
	<h4>Начальник растворо-бетонного узла (РБУ) - Хрулев Александр Александрович (8332)36-26-47; (8332)46-05-72 </h4>
	<br/>
	<h4>Начальник участка механизации (УМ) - Яхяев Владимир Алиевич (8332)36-48-65; (8332)43-87-15</h4>
	<br/>
	<h3><b>E-mail</b></h3>
				<h4>grs-2@mail.ru<h4>
	<br/><h3><b>Реквизиты компании</b></h3>
				<div><p align="center"><strong> </strong></p>
						<p><strong> </strong></p>
						<table width="100%" border="1" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td valign="top" width="46%">
									<p>Полное наименование организации</p>
								</td>
								<td valign="top" width="53%">
									<p>Общество с ограниченной ответственностью «Горремстрой-2»</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>Сокращенное  наименование организации</p>
								</td>
								<td valign="top" width="53%">
									<p>ООО «Горремстрой-2»</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>ИНН/КПП</p>
								</td>
								<td valign="top" width="53%">
									<p>4345064813/434501001</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>ОГРН</p>
								</td>
								<td valign="top" width="53%">
									<p>1034316594366</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>Адрес (юридический и фактический)</p>
								</td>
								<td valign="top" width="53%">
									<p>610004, г. Киров, <span style="font-family: 'Times New Roman', serif; font-size: 10pt; line-height: 1.5em;">пер. Больничный, 9</span><span style="font-family: 'Times New Roman', serif; font-size: 10pt; line-height: 1.5em;">        </span></p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>Телефон/факс</p>
								</td>
								<td valign="top" width="53%">
									<p>36-05-62/36-05-11</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>Электронный адрес</p>
								</td>
								<td valign="top" width="53%">
									<p><span style="text-decoration: underline;"><span style="font-size: 10.0pt; font-family: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; color: #0070c0; mso-ansi-language: EN-US; mso-fareast-language: RU; mso-bidi-language: AR-SA;" lang="EN-US"><a href="mailto:grs-2@mail.ru">grs-2@mail.ru</a></span></span></p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>ФИО  директора</p>
								</td>
								<td valign="top" width="53%">
									<p>Пупышев  Андрей  Евгеньевич</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>Основание  полномочий</p>
								</td>
								<td valign="top" width="53%">
									<p>На основании  Устава</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>Главный  бухгалтер</p>
								</td>
								<td valign="top" width="53%">
									<p>Евдокимова Алевтина Анатольевна</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>Наименование банка</p>
								</td>
								<td valign="top" width="53%">
									<p>АКБ «Вятка-банк» ОАО г. Кирова</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									p>БИК</p>
								</td>
								<td valign="top" width="53%">
									<p>043304728</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>Расчетный счет</p>
								</td>
								<td valign="top" width="53%">
									<p>40702810500020016771</p>
								</td>
							</tr>
							<tr>
								<td valign="top" width="46%">
									<p>Корреспондентский счет</p>
								</td>
								<td valign="top" width="53%">
									<p>30101810300000000728</p>
								</td>
							</tr>
					</tbody>
					</table>
					</div>
	<br/>
	<h3><b>Адреса</b></h3>
			<br/><div id="column1"><h1>Растворо-бетонный узел</h1> <h4>Киров Больничный пер.,9</h4>
			<br/><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=GpbWtgBIaAWw1oUL_pVkFnYu0nl3IGSu&width=600&height=450"></script>
			<div id="mymap" style="width: 300px; height: 200px"></div></div>
			<div id="column2"><h1>Производственная база</h1> <h4>Киров ул. Семаковская,41</h4>
			<br/><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-v2JdNnCF7fGbY-OFshW_4koJRKVFN0z&width=600&height=450"></script>
			<div id="mymap1" style="width: 300px; height: 200px"></div></div>
	
				
{% endblock %}