{% extends "base_layout.html.twig" %}
{% block content %}
<table>
{% for msg in messages %}
<tr>
<td>{{msg.datetime|date('d.m.Y H:i:s') }}</td>
<td>{{msg.user}}</td>
<td>{{msg.text}}</td>
</tr>
{% endfor %}
</table>
<form action="/guestbook/add" method="post">
<p>Пользователь: <input name="user"></p>
<p>Сообщение: <input type="text" name="message"></p>
<p><input type="submit" name="send"></p>
</form>
{% endblock %}