{%extends "base_layout.html.twig"%}
{% block content %}
		<div id="content">
				<h2><b>Добро пожаловать</b></h2>
				<div class="entry">
					<br/><p> Компания &#171;Горремстрой-2&#187; уже многие годы работает на строительном рынке и завоевала доверие клиентов благодаря низким ценам и высокому качеству своей продукции. </p>
			<p>Основное направление компании &#8212; производство и продажа бетона в городе Киров и Кировской области. Однако, помимо этого, мы поставляем и другие строительные материалы. На нашем сайте Вы можете найти информацию цены на всю нашу продуцию, а также стоимость доставки по городу и области. Заказать Вы можете по представленным на сайте телефонным номерам. Мы будем рады вашему заказу. Вся наша продукция имеет сертификаты, которые подтверждают ее качество и соответствие ГОСТам.<p>
			<p>Отличительной особенностью компании &#171;Горремстрой-2&#187; является то, что мы предлагаем бетон, растворы в Кирове  и в Кировской области с доставкой. Для оперативной доставки мы содержим целый автопарк современных бетоносмесителей. </p>
		</div>
		</div>

		<div id="sidebar1">
			<img src="/images/cars.gif">
		</div>

		
		<!-- end #sidebar -->
{% endblock %}