{%extends "base_layout.html.twig"%}
{% block content %}
			<div id="column1"><h2><b>Цены на бетон и растворы</b></a></h2>
				<br/><table width="500" cellspacing="0" cellpadding="7" background-color="#6495ED"><colgroup><col /> <col /> <col /> <col /> <col /> </colgroup>
				<tbody>
				<tr valign="top">
				<td height="8" width="auto">
				<p align="center">№№ <span><strong>пп</strong></span></p>
				</td>
				<td>
				<p align="center"><span><strong>Наименование</strong></span></p>
				</td>
				<td>
				<p align="center"><span><strong>Ед.</strong></span></p>
				</td>
				<td>
				<p align="center"><span><strong>Цена</strong></span></p>
				<p align="center"><span><strong>Руб.</strong></span></p>
				</td>
				<td>
				<p align="center"><span><strong>Цена со скидкой от 4м3 </strong></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>1.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Известковый р-р М4</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>2800</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>2700</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>2.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Цем-изв.р-р М25</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>3400</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3300</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>3.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Цем-изв.р-р М50</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>3720</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3600</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>4.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Цем. р-р М25 </span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>2600</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>2500</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>5.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Цем.р-р М50</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>3000</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>2900</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>6.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Цем.р-р М75</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>3200</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3100</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>7.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Цем.р-р М100</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>3320</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3200</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>8.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Цем.р-р М125 </span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>3480</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3400</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>9.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Цем р-р М150</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>3600</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3500</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>10.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Цем.р-р М200</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>4000</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3800</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>11.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Бетон М100</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td>
				<p align="center"><span>3200</span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3100</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>12.</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>Бетон М150</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>3400</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3250</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>13.</span></span></p>
				</td>
				<td>
				<p align="center"><span>Бетон М200</span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>м3</span></span></p>
				</td>
				<td valign="bottom">
				<p align="center"><span><span>3600</span></span></p>
				</td>
				<td valign="top">
				<p align="center"><span><span>3400</span></span></p>
				</td>
				</tr>
				<tr>
				<td valign="bottom" height="13">
				<p align="center"><span><span>14.</span></span></p>
				</td>
				<td>
				<p align="center"><span>Бетон М250</span></p>
				</td>
				<td valign="top">
				<p align="center"><span>м3</span></p>
				</td>
				<td>
				<p align="center"><span>4000</span></p>
				</td>
				<td>
				<p align="center"><span>3800</span></p>
				</td>
				</tr>
			</tbody>
</table>
</div>
				<br/><br/><br/><br/><br/><br/><div id="column3"><h2><b>Для вашего удобства у нас есть доставка</b></h2>
				<br/>				
					<table width="500" align="center" background-color="red" cellspacing="0" cellpadding="7"><colgroup><col /> <col /> <col /> <col /> <col /> </colgroup>
					<tbody>
				<td height="14">
				<p></p>
				</td>
				<td>
				<p align="center">Тип доставки</p>
				</td>
				<td>
				<p align="center">Ед</p>
				</td>
				<td>
				<p align="center">Стоимость</p>
				</td>
				<tr>
				<td>
				<p align="center"><span><span>1.</span></span></p>
				</td>
				<td>
				<p align="center"><span><span>Доставка в городе (самосвал ЗиЛ, МАЗ)</span></span></p>
				</td>
				<td>
				<p align="center"><span>рейс</span></p>
				</td>
				<td>
				<p align="center"><span>1180</span></p>
				</td>
				</tr>
				<tr valign="top">
				<td height="14">
				<p align="center"><span><span>2.</span></span></p>
				</td>
				<td>
				<p align="center"><span><span>Доставка за городом</span></span></p>
				<p align="center"><span><span>(самосвал ЗиЛ, МАЗ)</span></span></p>
				</td>
				<td>
				<p align="center"><span>рейс</span></p>
				</td>
				<td>
				<p align="center"><span>2100</span></p>
				</td>
				</tr>
				<tr valign="top">
				<td height="13">
				<p align="center"><span><span>3.</span></span></p>
				</td>
				<td>
				<p align="center"><span><span>Доставка</span></span></p>
				<p align="center"><span><span>(автобетоносмесительV=6м3)</span></span></p>
				</td>
				<td>
				<p align="center"><span>час</span></p>
				</td>
				<td>
				<p align="center"><span>1300</span></p>
				</td>
				</tr>
				</tbody>
				</table>
				</div>
{% endblock %}